{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Check Pending Dish</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
{% csrf_token %}
<h1 class="text-3xl font-bold mb-8">Pending Dishes</h1>

<!-- Search bar -->
<div class="flex justify-between items-center mb-4 p-4 bg-white shadow-md rounded-lg">
  <input type="text" id="searchInput" placeholder="Search dish" class="px-4 py-2 w-full bg-gray-100 border border-gray-300 rounded-lg focus:outline-none">
</div>

<div class="table-placeholder flex-grow mb-16">
  {% if pending_dishes %}
  <div class="mx-2">
    <table class="table-auto w-full text-left bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="rounded-t-lg">
        <tr class="bg-gray-200 text-gray-600 text-sm leading-normal">
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Vendor Name</th>
          <th class="px-4 py-2">Price</th>
          <th class="px-4 py-2" style="width: 100px;">Category</th>
          <th class="px-4 py-2">Address</th>
          <th class="px-4 py-2">Image</th>
          <th class="px-4 py-2" style="width: 80px; text-align:center">Approve</th>
          <th class="px-2 py-2" style="width: 80px; text-align:center">Delete</th>
        </tr>
      </thead>
      <tbody id="dishesTable" class="rounded-b-lg">
        {% for dish in pending_dishes %}
        <tr id="dish-row-{{ dish.uuid }}" class="hover:bg-gray-100 border-b border-gray-200">
            <td class="border px-4 py-2">{{ dish.name }}</td>
            <td class="border px-4 py-2">{{ dish.vendor_name }}</td>
            <td class="border px-4 py-2">{{ dish.price }}</td>
            <td class="border px-4 py-2" style="width: 100px;">{{ dish.category }}</td>
            <td class="border px-4 py-2">{{ dish.address }}</td>
            <td class="border px-4 py-4">
              <img src="{{ dish.image }}" alt="Dish Image" class="h-16 w-16 object-cover">
            </td>
            
            <!-- Approve Button -->
            <td class="border px-4 py-2 text-center" style="width: 80px;">
              <button 
                  type="button" 
                  class="bg-green-500 hover:bg-green-700 text-white rounded-full p-2 transition duration-300 shadow-md approve-dish-btn"
                  data-dish-uuid="{{ dish.uuid }}"
                  onclick="approveDish('{{ dish.uuid }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 00-1.414 0L9 11.586 6.707 9.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l7-7a1 1 0 000-1.414z" clip-rule="evenodd" />
                  </svg>
              </button>
          </td>
      
          <!-- Delete Button -->
          <td class="border px-4 py-2 text-center">
              <button 
                  type="button" 
                  class="bg-red-500 hover:bg-red-700 text-white rounded-full p-2 transition duration-300 shadow-md delete-dish-btn"
                  data-dish-uuid="{{ dish.uuid }}"
                  onclick="deleteDish('{{ dish.uuid }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
              </button>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
  {% else %}
    <p>No pending dishes.</p>
  {% endif %}
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
      return cookieValue;
  }
  
  function approveDish(dishUuid) {
      const csrftoken = getCookie('csrftoken');
      fetch(`/module4/approve-dish/${dishUuid}/`, {
          method: 'POST',
          headers: {
              'X-CSRFToken': csrftoken,
              'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'action': 'approve'
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'approved') {
            const row = document.getElementById(`dish-row-${dishUuid}`);
            if (row) {
                row.remove();
                console.log('Dish approved successfully');
            }
        } else {
            alert('Failed to approve dish.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while approving the dish.');
    });
}

function deleteDish(dishUuid) {
    const csrftoken = getCookie('csrftoken');
    fetch(`/module4/approve-dish/${dishUuid}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
            'action': 'delete'
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'deleted') {
            const row = document.getElementById(`dish-row-${dishUuid}`);
            if (row) {
                row.remove();
                console.log('Dish deleted successfully');
            }
        } else {
            alert('Failed to delete dish.');
        }
    })
    .catch(error => {
          console.error('Error:', error);
          alert('An error occurred while deleting the dish.');
      });
    }
    
  document.addEventListener('DOMContentLoaded', function() {
      const searchInput = document.getElementById('searchInput');
      if (searchInput) {
          searchInput.addEventListener('input', function() {
              const searchValue = this.value.toLowerCase().trim();
              const rows = document.querySelectorAll('#dishesTable tr');
              
              rows.forEach(row => {
                  const nameCell = row.querySelector('td:first-child');
                  if (nameCell) {
                      const name = nameCell.textContent.toLowerCase().trim();
                      if (name.includes(searchValue)) {
                          row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    }
                });
            });
        }
    });
</script>
<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.table-placeholder {
    flex-grow: 1;
}

footer {
    background-color: #983132;
    color: white;
    padding: 20px;
    width: 100%;
    margin-top: auto;
}
</style>

{% endblock content %}