{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<!-- Tambahkan margin-top agar tidak tertutup oleh navbar -->
<div class="mt-20 mx-2">
    <table class="table-auto w-full text-left bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="rounded-t-lg">
        <tr class="bg-gray-200 text-gray-600 text-sm leading-normal">
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Restaurant Name</th>
          <th class="px-4 py-2">Price</th>
          <th class="px-4 py-2" style="width: 100px;">Category</th>
          <th class="px-4 py-2">Address</th>
          <th class="px-4 py-2" style="width: 80px; text-align:center">Approve</th>
          <th class="px-2 py-2" style="width: 80px; text-align:center">Delete</th>
        </tr>
      </thead>
      <tbody id="dishesTable" class="rounded-b-lg">
        {% for dish in dishes %}
          <tr class="hover:bg-gray-100 border-b border-gray-200">
            <td class="border px-4 py-2">{{ dish.name }}</td>
            <td class="border px-4 py-2">{{ dish.vendor_name }}</td>
            <td class="border px-4 py-2">{{ dish.price }}</td>
            <td class="border px-4 py-2" style="width: 100px;">{{ dish.category }}</td>
            <td class="border px-4 py-2">{{ dish.address }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
