{% extends 'base.html' %}

{% block meta %}
<title>My Favorite Dishes</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-white flex flex-col items-center">
   <div class="mb-6 text-center">
    <h1 class="text-3xl font-bold text-[#3C3837]">{{ name }}'s Favorite Dishes</h1>
    <p class="text-lg text-gray-500">Check out your list of saved favorite dishes below.</p>
  </div>

  <div class="flex space-x-4 mb-6">
    <a href="{% url 'MyFavoriteDishes:add_favorite_dish' %}">
      <button class="bg-[#3C3837] hover:bg-[#3C3837] text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        Add Favorite Dish
      </button>
    </a>
    <a href="{% url 'MyFavoriteDishes:add_favorite' %}">
      <button class="bg-[#F18F73] hover:bg-[#F18F73] text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        Add Favorite Dish From Catalogue
      </button>
    </a>
    <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="btn bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" onclick="showModal();">
      Add Favorite Dish by AJAX
    </button>
  </div>

  
  <div id="fav_dish_cards"></div>
  <div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
    <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold text-gray-900">
          Add New Favorite Dish
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="px-6 py-4 space-y-6 form-style">
        <form id="favoriteDishForm">
          <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <input type="text" id="name" name="name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter your favorite dish" required>
          </div>

          <div class="mb-4">
            <label for="flavor" class="block text-sm font-medium text-gray-700">Flavor</label>
            <input type="text" id="flavor" name="flavor" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter the flavor" maxlength="100" required>
          </div>

          <!-- Category -->
          <div class="mb-4">
            <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
            <input type="text" id="category" name="category" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter the category" maxlength="50" required>
          </div>

          <!-- Vendor Name -->
          <div class="mb-4">
            <label for="vendor_name" class="block text-sm font-medium text-gray-700">Vendor Name</label>
            <input type="text" id="vendor_name" name="vendor_name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter vendor name" maxlength="100" required>
          </div>

          <!-- Price -->
          <div class="mb-4">
            <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
            <input type="number" id="price" name="price" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter the price" min="0" required>
          </div>

          <!-- Map Link -->
          <div class="mb-4">
            <label for="map_link" class="block text-sm font-medium text-gray-700">Map Link</label>
            <input type="text" id="map_link" name="map_link" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter the map link" maxlength="255">
          </div>

          <!-- Address -->
          <div class="mb-4">
            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
            <input type="text" id="address" name="address" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter the address" maxlength="255" required>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
        <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Cancel</button>
        <button type="submit" id="submitFavoriteDish" form="favoriteDishForm" class="bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg">Save</button>
      </div>
    </div>
  </div>
</div>

<script>
  async function getFavoriteDishes(){
      return fetch("{% url 'MyFavoriteDishes:show_json' %}").then((res) => res.json())
  }
  async function refreshFavoriteDishes() {
    document.getElementById("fav_dish_cards").innerHTML = "";
    document.getElementById("fav_dish_cards").className = "";
    const favoriteDishes = await getFavoriteDishes();
    let htmlString = "";
    let classNameString = "";

    if (favoriteDishes.length === 0) {
        classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
        htmlString = `
            <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                <p class="text-center text-gray-600 mt-4">Belum ada data pada MyFavoriteDishes.</p>
            </div>
        `;
    }
    else {
      classNameString = "columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full"
        favoriteDishes.forEach((item) => {
            htmlString += `
            <div class="relative break-inside-avoid">
  
                <div class="bg-white shadow-md rounded-lg mb-6 flex flex-col border-2 border-[#F18F73] transition-transform duration-300">
                  
                
                  <div class="flex justify-between p-4">
                  
                    <div class="flex-grow">
                      <h3 class="font-bold text-xl mb-2">${item.fields.name}</h3>
                      <p class="text-gray-700 mb-2">Rp${item.fields.price}</p>
                      <p class="text-gray-700 mb-2">Flavor: ${item.fields.flavor}</p>
                      <p class="text-gray-700 mb-2">Category: ${item.fields.category}</p>
                      <p class="text-gray-700 mb-2">Vendor: ${item.fields.vendor_name}</p>
                      <p class="text-gray-700 mb-2">Map Link: <a href="${item.fields.map_link}" class="text-blue-500 hover:underline">${item.fields.map_link}</a></p>
                      <p class="text-gray-700 mb-2">Address: ${item.fields.address}</p>
                    </div>
                  </div>

                
                  <div class="flex justify-end p-4">
                    <a href="/MyFavoriteDishes/edit-fav-dish/${item.pk}" class="bg-[#F18F73] hover:bg-[#F18F73]/80 text-white font-bold py-2 px-4 rounded-full transition duration-300 shadow-md">
                        Edit
                    </a>
                    <a href="/MyFavoriteDishes/delete/${item.pk}" class="bg-[#F18F73] hover:bg-[#F18F73]/80 text-white font-bold py-2 px-4 rounded-full transition duration-300 shadow-md">
                        Delete
                    </a>
                  </div>
                </div>
              </div>
             `;
        });
    }
    document.getElementById("fav_dish_cards").className = classNameString;
    document.getElementById("fav_dish_cards").innerHTML = htmlString;
  
  }
  refreshFavoriteDishes();
  const modal = document.getElementById('crudModal');
  const modalContent = document.getElementById('crudModalContent');

  function showModal() {
      const modal = document.getElementById('crudModal');
      const modalContent = document.getElementById('crudModalContent');

      modal.classList.remove('hidden'); 
      setTimeout(() => {
        modalContent.classList.remove('opacity-0', 'scale-95');
        modalContent.classList.add('opacity-100', 'scale-100');
      }, 50); 
  }

  function hideModal() {
      const modal = document.getElementById('crudModal');
      const modalContent = document.getElementById('crudModalContent');

      modalContent.classList.remove('opacity-100', 'scale-100');
      modalContent.classList.add('opacity-0', 'scale-95');

      setTimeout(() => {
        modal.classList.add('hidden');
      }, 150); 
  }

  document.getElementById("cancelButton").addEventListener("click", hideModal);
  document.getElementById("closeModalBtn").addEventListener("click", hideModal);

  function addFavoriteDish() {
    fetch("{% url 'MyFavoriteDishes:add_fav_dish_ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#favoriteDishForm')),
    })
    .then(response => {
          if (response.ok) {
              refreshFavoriteDishes();
              hideModal();
            } 
          })

    document.getElementById("favoriteDishForm").reset(); 
    document.querySelector("[data-modal-toggle='crudModal']").click();

    return false;
  }

  document.getElementById("favoriteDishForm").addEventListener("submit", (e) => {
    e.preventDefault();
    addFavoriteDish();
  })

  
  
</script>
{% endblock content %}